<%-include('./partials/header')-%>
<div class="container mt-5">
    <%-include('./partials/messages')-%>    
<table class="table table-bordered justify-content-center" id="datatable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Salary</th>
            <th scope="col">Oprations</th>
        </tr>
    </thead>
    <tbody>
        <% if(employees.length != 0) {%>
        <% employees.forEach((employee)=>{ %>
        <tr>
            <th scope="row"><%=employee.name %></th>
            <td><%=employee.designation %></td>
            <td><%=employee.salary %></td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" onclick="location.href='/edit/<%=employee.id %>'">Edit</button>
                    <form method="POST" action="/delete/<%= employee.id %>?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        <% })%>
        <% }else{%>
            <div class="alert alert-danger">No Record Found</div>
        <% }%>
        
    </tbody>
</table>
</div>
<%-include('./partials/footer')-%>